<accordion-group is-open="status.third">
    
    <accordion-heading>
        <div ng-class="{'orange': status.third, 'black': !status.third}">
            <i class="fa fa-{{when.groupIcon}}"></i> {{when.groupTitle}}
            <i class="fa fa-{{when.valueIcon}}"></i> <!-- {{when.defaultValue}} --> {{dt | date:'MMMM yyyy' }}
            <i class="pull-right fa chevron-icon" ng-class="{'fa-chevron-down': status.third, 'fa-chevron-right': !status.third}"></i>
        </div>
    </accordion-heading>
    
	<div class="when-calendar">
		<datepicker ng-model="dt" min-date="minDate" show-weeks="false" datepicker-mode="'month'" min-mode="'month'" max-mode="'month'"></datepicker>
	</div>

</accordion-group>