<accordion-group is-open="status.isOpen[$index]">
    <accordion-heading>
        <div>
            <i class="fa fa-{{where.groupIcon}}"></i> {{where.groupTitle}}
            <i class="fa fa-{{where.valueIcon}}"></i> {{showSelected(where.defaultValue)}}
            <i class="pull-right fa chevron-icon" ng-class="{'fa-chevron-down': status.isOpen[$index], 'fa-chevron-right': !status.isOpen[$index]}"></i>
        </div>
    </accordion-heading>
<i class="fa fa-picture-o"> Type of Destination</i>
<div class="mutliSelect">
            <ul ng-repeat="category in where.categories">
                <li>
                    <input type="checkbox" ng-model="where.defaultValue[category.name]"name="group" id="{{category.name}}" ng-change="showSelected(where.defaultValue)"/>&nbsp {{category.name}}
                </li>
            </ul>
        </div>
</accordion-group>